.error {
    background: pink;
    border-color: red;
}

.input {
    border-radius: 5px;
    border-style: solid;
}

.hidden {
display: none;
}

.wps-view {
   border-style: solid;
   border-width: 2px;
}
