{% extends "base.html" %}

{% block title %}
MIG/MAG
{% endblock %}

{% block body %}
<h1>Calculeaza parametrii MIG/MAG</h1>
<a href="/">Intoarecete pe pagina principala</a>

<div class="card">
    <h3>Otelul de sudat</h3>

    <div class="base-material grid" id="material1">
        <label for="steel-grade1">Denumirea:</label>
        <div>
            <input type="text"
                   name="steel-norm1"
                   class="input"
                   id="steel-norm1"
                   list="material-norm-list"
                   placeholder="Norma"
                   onchange="getSteels(this)">
            <datalist id="material-norm-list">
                <option value="EN 10025">
                <option value="EN 10028">
                <option value="EN 10225">
            </datalist>
            <input type="text"
                   name="steel-grade"
                   class="input"
                   id="steel-grade"
                   list="steel-list"
                   onchange="getChemComposition(this)">
            <datalist id="steel-list">
            </datalist>
        </div>
    </div>

    <div id="edit_chem_comp" style="display: none" class="chem-comp grid">
        <label for="chem-inputs">Compozitia chimica:</label>
        <div>
            <ul id='chem-inputs'></ul>
            <button id='btn' onclick='addNewChemInput()'>adauga element</button>
        </div>
    </div><br>

    <div id="chem_comp" class="chem_comp"></div>
    <br>

    <div id="weldability" class="weldability">
        <div id='carb_eq'></div>
        <button onclick='getCarbEq()'>Verifica sudabilitatea</button>
    </div>


</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/migmag.js') }}"></script>
{% endblock %}
