{% extends "base.html" %}
{% block title %}WPS-form{% endblock %}
{% block style %}
.wps-view {
    width: 157.5mm;
    height: 222.75mm;
}
{% endblock %}

{% block body %}
<h1>Here you can create a WPS</h1>

<div class="row">
    <div class="column form-view" id="form-view">
        <form method="post">

            <div class="card">
                <h3>Material de baza 1:</h3>
                <div class="base-material grid" id="material1">
                    <label for="steel-grade1">Denumirea:</label>
                    <div>
                        <input type="text"
                               name="steelNorm1"
                               class="input"
                               id="steelNorm1"
                               list="material-norm-list"
                               placeholder="Norma">
                        <datalist id="material-norm-list">
                            <option value="EN 10025-2">
                        </datalist>
                        <input type="text"
                               name="steelGrade1"
                               class="input"
                               id="steelGrade1">
                    </div>
                    <label for="steelGroup1">Grupa:</label>
                    <input type="text"
                           name="steelGroup1"
                           class="input"
                           id="steelGroup1">
                    <label for="thickness1">Grosime:</label>
                    <input type="number"
                           name="thickness1"
                           class="input"
                           id="thickness1"
                           min="0"
                           step="0.1"
                           onchange="checkNumberField(this);">
                    <input type="checkbox" name="similarMaterial" id="similarMaterial" value="same" checked>
                    <label for="similarMaterial">La fel ca al doilea material</label>
                </div>
            </div>

            <div class="card hidden" id="material2">
                <h3>Material de baza 2:</h3>
                <div class="base-material grid">
                    <label for="steel-grade2">Denumirea:</label>
                    <div>
                        <input type="text" name="steelNorm2"
                               class="input"
                               id="steelNorm2"
                               list='material-norm-list'
                               placeholder="Norma">
                        <input type="text"
                               name="steelGrade2"
                               class="input"
                               id="steelGrade2">
                    </div>
                    <label for="steelGroup2">Grupa:</label>
                    <input type="text"
                           name="steelGroup2"
                           class="input"
                           id="steelGroup2">
                    <label for="thickness2">Grosime:</label>
                    <input type="number"
                           name="thickness2"
                           class="input"
                           id="thickness2"
                           min="0"
                           step="0.1"
                           onchange="checkNumberField(this);">
                </div>
            </div>

            <div class="card">
                <h3>Material de adaos:</h3>
                <div class="grid">
                    <label for="process">Precedeul de sudare:</label>
                    <select name="process" id="process" onchange="changeFillerStandards()">
                        <option value="111" selected>111 - Sudare Manuala cu Electrod Invelit</option>
                        <option value="131">131 - MIG (Metal Inert Gas)</option>
                        <option value="135">135 - MAG (Metal Active Gas)</option>
                        <option value="141">141 - WIG/TIG (Wolfram/Tungsten Inert Gas)</option>
                    </select>
                    <label for="fillerMaterial">Denumirea:</label>
                    <div id='filler-input'>
                        <input type="text"
                               class="input"
                               name="fillerNorm"
                               id="fillerNorm"
                               list="norm-list"
                               placeholder="Norma">
                        <span class="err-message" style="display: none;">
                            Standard does not exist or is not yet implemented.
                        </span>
                        <datalist id="norm-list">
                            <option value="ISO 2560-A">
                            <option value="ISO 2560-B">
                            <option value="ISO 14341-A">
                        </datalist>
                        <input type="text"
                               name="fillerMaterial"
                               class="input"
                               id="fillerMaterial"
                               onchange="checkFillerMaterial(this);">
                        <button type="button" style="width: 40px"
                                onclick="console.log('on hover popup(add manufacturer\'s brand)\nonclick(add new input field)')">+</button>
                    </div>
                    <label for="fillerThickness">Dimensiuni:</label>
                    <select name="fillerThickness" id="fillerThickness">
                        <option value="2">2 mm</option>
                        <option value="2.5">2.5 mm</option>
                        <option value="3.2" selected>3.2 mm</option>
                        <option value="4">4 mm</option>
                        <option value="5">5 mm</option>
                    </select>
                    <input type="checkbox"
                           name="drying"
                           class="input"
                           id="drying">
                    <label for="drying">se usuca</label>
                </div>
            </div>

            <div class="card hidden" id="refractary">
                <h3>Electrod nefuzibil:</h3>
                <div class="grid">
                    <label for="refractaryType">Tip:</label>
                    <input class="input"
                           id="refractaryType"
                           type="text"
                           name="refractaryType">
                    <label for="refractaryDiameter">Diametru:</label>
                    <select name="refractaryDiameter" id="refractaryDiameter">
                        <option value="0.5">0.5 mm</option>
                        <option value="1.0">1.0 mm</option>
                        <option value="1.6">1.6 mm</option>
                        <option value="2.4">2.4 mm</option>
                        <option value="3.2">3.2 mm</option>
                        <option value="6.4" selected>6.4 mm</option>
                        <option value="8.0">8.0 mm</option>
                        <!-- Diametre luate din cursul bpsa cu dnl Pascu -->
                    </select>
                </div>
            </div>

            <div class="card hidden" id="gas">
                <h3>Gaz:</h3>
                <div class="grid">
                    <label for="gasCoverType">De protectie:</label>
                    <input class="input"
                           id="gasCoverType"
                           type="text"
                           name="gasCoverType">
                    <label for="gasCoverDebit">Debit:</label>
                    <input class="input"
                           id="gasCoverDebit"
                           name="gasCoverDebit"
                           type="number"
                           onchange="checkNumberField(this);">
                    <label for="gasRootType">La radacina:</label>
                    <input class="input"
                           id="gasRootType"
                           name="gasRootType"
                           type="text">
                    <label for="gasRootDebit">Debit:</label>
                    <input class="input"
                           id="gasRootDebit"
                           name="gasRootDebit"
                           type="number"
                           onchange="checkNumberField(this);">
                </div>
            </div>

            <div class="card">
                <h3>Tratamente termice</h3>
                <div class="grid">
                    <label for="preheat">Preincalzire:</label>
                    <input class="input"
                           type="number"
                           name="preheat"
                           id="preheat"
                           onchange="checkNumberField(this);">
                    <label for="postheat">Postincalzire:</label>
                    <input class="input"
                           type="number"
                           name="postheat"
                           id="postheat"
                           onchange="checkNumberField(this);">
                </div>
            </div>
            <br>

            <input type="button" value="Previzualizeaza WPS" name="button" onclick="submitWPS(this.form)">

            <!-- <button type="button">Submit</button> -->
        </form>
    </div>

    <div class="column wps-view" id="wps-view">
        {{ dwg }}
    </div>
</div>
<script type="text/javascript" src="/static/js/wps.js"></script>


{% endblock %}
